html,
body,
#root {
  height: 100vh;
  width: 100vw;
}

body {
  margin: 0;
}

#root > div {
  height: 100%;
}

/* Настройка ячеек для sideBar */

.ant-menu-item-selected {
  background-color: #e6f7ff !important;
  color: #1890ff !important;
  border-left: 5px solid #1890ff;
}

.ant-menu-item-selected a {
  color: #1890ff !important;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}

.interviewIcon {
  color: purple;
}

.emailIcon {
  color: green;
}

.documentIcon {
  color: red;
}

/* разукрашка для статусов стажировок */
td:has(> span.no-internship) {
  background-color: #ff0000;
}

td:has(> span.cv-sent) {
  background-color: #ff5c00;
}
td:has(> span.interview-planned) {
  background-color: #ffb800;
}

td:has(> span.passed-interview) {
  background-color: #ebff00;
}


td:has(> span.has-offer) {
  background-color: #8fff00;
}

td:has(> span.accepted-offer) {
  background-color: #33ff00;
}

