html,
body,
#root {
  height: 100vh;
  width: 100vw;
}

body {
  margin: 0;
}

#root > div {
  height: 100%;
}

/* Настройка ячеек для sideBar */

.ant-menu-item-selected {
  background-color: #e6f7ff !important;
  color: #1890ff !important;
  border-left: 5px solid #1890ff;
}

.ant-menu-item-selected a {
  color: #1890ff !important;
}